rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isGroupA() {
      return request.auth != null &&
        request.auth.token.email in [
          'shaun.yoo.ao@gmail.com',
          '2yeonsoo@gmail.com'
        ];
    }

    function isGroupB() {
      return request.auth != null &&
        request.auth.token.email in [
          'minkyungbaek@gmail.com',
          'ssineroo@gmail.com'
        ];
    }

    match /items/{itemId}     { allow read, write: if isGroupA(); }
    match /settings/{docId}   { allow read, write: if isGroupA(); }
    match /b_items/{itemId}   { allow read, write: if isGroupB(); }
    match /b_settings/{docId} { allow read, write: if isGroupB(); }
  }
}
