rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /items/{itemId}/{allPaths=**} {
      allow read: if request.auth != null &&
        request.auth.token.email in [
          'shaun.yoo.ao@gmail.com',
          'lee.yeonvely@icloud.com'
        ];
      allow write: if request.auth != null &&
        request.auth.token.email in [
          'shaun.yoo.ao@gmail.com',
          'lee.yeonvely@icloud.com'
        ] &&
        request.resource.size < 600 * 1024 &&
        request.resource.contentType.matches('image/.*');
      allow delete: if request.auth != null &&
        request.auth.token.email in [
          'shaun.yoo.ao@gmail.com',
          'lee.yeonvely@icloud.com'
        ];
    }
  }
}
